                       







$("#dataContainer").append($("<div class='nationality-image-container' id='img-container' style='top:0px'>"
    + "<img src='" + value.image + "' alt='" + value.nationality + "' class='img-fluid img-thumbnail w3-card-2' id='natImage' draggable='true' />
</div> "));
                            $("#img-container").css({ top: 500, 'transition': 'linear 3s' });

                                                       <div class="nationality-image-container" id="img-container">
                                                           <img src="~/Images/1.jpg" class="img-fluid img-thumbnail w3-card-2" id="natImage" draggable="true" />
                                                       </div>